/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");

div.comment-title {
  width: 50%;
  height: 6rem;
  /* margin: 100px auto; */
  position: relative;
}
div.comment-title .bar {
  position: absolute;
  height: 0.6rem;
  width: 100%;
  background: #e3c893;
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-box-shadow: inset 0 0.2rem 0 0 #b4a183,
    0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 0.2rem 0 0 #b4a183,
    0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0.2rem 0 0 #b4a183, 0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
}
div.comment-title .ball {
  width: 3.2rem;
  height: 3.2rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #e3c893;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-box-shadow: inset 0 0.2rem 0 0 #b4a183,
    0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 0.2rem 0 0 #b4a183,
    0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0.2rem 0 0 #b4a183, 0 0.1rem 0 0 rgba(255, 255, 255, 0.4);
}
div.comment-title .ball:first-of-type {
  left: 0;
}
div.comment-title .ball:last-of-type {
  right: 0;
}
div.comment-title .ball .bullet {
  width: 1.6rem;
  height: 1.6rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 0.2rem solid #956620;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-box-shadow: inset 0 -0.4rem 0.2rem 0 #fae8b8,
    inset 0 -0.7rem 0.2rem 0 #824622, inset 0 -0.9rem 0.2rem 0 #824622;
  -webkit-box-shadow: inset 0 -0.4rem 0.2rem 0 #fae8b8,
    inset 0 -0.7rem 0.2rem 0 #824622, inset 0 -0.9rem 0.2rem 0 #824622;
  box-shadow: inset 0 -0.4rem 0.2rem 0 #fae8b8, inset 0 -0.7rem 0.2rem 0 #824622,
    inset 0 -0.9rem 0.2rem 0 #824622;
}
div.comment-title .front,
div.comment-title .back {
  position: absolute;
  top: 0.65rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 18rem;
  height: 3.5rem;
}
div.comment-title .front {
  z-index: 2;
}
div.comment-title .back {
  z-index: 1;
  border: 1px solid blue;
}
div.comment-title .back h1 {
  position: absolute;
  width: 21.5rem;
  height: 2.2rem;
  top: 0.63rem;
  left: -1.8rem;
}
div.comment-title .back h1:before,
div.comment-title .back h1:after {
  width: 2.3rem;
  height: 2.3rem;
}
div.comment-title .back h1:before {
  left: -1.2rem;
}
div.comment-title .back h1:after {
  right: -1.2rem;
}

h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fae8b8;
  font-size: 3.2rem;
  font-family: "Alkalami", serif;
  color: #a15e31;
  line-height: 3.5rem;
  border-top: 0.5rem solid #faf3d7;
  border-bottom: 0.5rem solid #f7d08f;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
  position: relative;
  -moz-box-shadow: 0 -0.2rem 0 0 #edd99a, 0 0.2rem 0 0 #b28532,
    0 0.6rem 0.4rem -0.3rem #be8744;
  -webkit-box-shadow: 0 -0.2rem 0 0 #edd99a, 0 0.2rem 0 0 #b28532,
    0 0.6rem 0.4rem -0.3rem #be8744;
  box-shadow: 0 -0.2rem 0 0 #edd99a, 0 0.2rem 0 0 #b28532,
    0 0.6rem 0.4rem -0.3rem #be8744;
  /*  &.back {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 19.4rem;
        left: -0.7rem;
        margin: auto;
      }*/
}
h1:before,
h1:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 3.4rem;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fae8b8;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
h1:after {
  -moz-box-shadow: inset 0 0.15rem 0 0 #edd99a, inset -0.15rem 0 0 0 #b28532,
    inset 0 0.5rem 0 0 #faf3d7, inset -0.5rem 0 0 0 #f7d08f,
    0.1rem 0 0.5rem 0 rgba(190, 135, 68, 0.9);
  -webkit-box-shadow: inset 0 0.15rem 0 0 #edd99a, inset -0.15rem 0 0 0 #b28532,
    inset 0 0.5rem 0 0 #faf3d7, inset -0.5rem 0 0 0 #f7d08f,
    0.1rem 0 0.5rem 0 rgba(190, 135, 68, 0.9);
  box-shadow: inset 0 0.15rem 0 0 #edd99a, inset -0.15rem 0 0 0 #b28532,
    inset 0 0.5rem 0 0 #faf3d7, inset -0.5rem 0 0 0 #f7d08f,
    0.1rem 0 0.5rem 0 rgba(190, 135, 68, 0.9);
  right: -1.7rem;
}
h1:before {
  left: -1.7rem;
  -moz-box-shadow: inset 0.15rem 0 0 0 #edd99a, inset 0 -0.15rem 0 0 #b28532,
    inset 0.5rem 0 0 0 #faf3d7, inset 0 -0.5rem 0 0 #f7d08f,
    0 0.1rem 0.5rem 0 rgba(190, 135, 68, 0.9);
  -webkit-box-shadow: inset 0.15rem 0 0 0 #edd99a, inset 0 -0.15rem 0 0 #b28532,
    inset 0.5rem 0 0 0 #faf3d7, inset 0 -0.5rem 0 0 #f7d08f,
    0 0.1rem 0.5rem 0 rgba(190, 135, 68, 0.9);
  box-shadow: inset 0.15rem 0 0 0 #edd99a, inset 0 -0.15rem 0 0 #b28532,
    inset 0.5rem 0 0 0 #faf3d7, inset 0 -0.5rem 0 0 #f7d08f,
    0 0.1rem 0.5rem 0 rgba(190, 135, 68, 0.9);
}
