.parentContainer {
  background: linear-gradient(-45deg, #f0d8b5, #b58863, #f0d8b5, #a27b5c);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
